<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<%- include('./partials/nav') %>

<body>
    <h1>Full Menu</h1>
    <h2>Mains</h2>
    <ul>
        <% menu.forEach((item, index) => { %>
            <% if (item.category == "mains") { %>
                <li>
                    <h3><%= item.name %>
                    <% if (item.rating == 5) { %>
                        ⭐
                    <% } %>
                    </h3>
                    <p>Description: <%= item.details %></p>
                    <p>Rating: <%= item.rating %>/5</p>
                    <p>$<%= item.price %></p>
                </li>
            <% } %>
        <% }) %>
    </ul>
    <h2>Desserts</h2>
    <ul>
        <% menu.forEach((item, index) => { %>
            <% if (item.category == "desserts") { %>
                <li>
                    <h3><%= item.name %>
                        <% if (item.rating == 5) { %>
                            ⭐
                        <% } %>
                    </h3>
                    <p>Description: <%= item.details %></p>
                    <p>Rating: <%= item.rating %>/5</p>
                    <p>$<%= item.price %></p>
                </li>
                <% } %>
        <% }) %>
    </ul>

    <h2>Sides</h2>
    <ul>
        <% menu.forEach((item, index) => { %>
            <% if (item.category == "sides") { %>
                <li>
                    <h3><%= item.name %>
                        <% if (item.rating == 5) { %>
                            ⭐
                        <% } %>
                    </h3>
                    <p>Description: <%= item.details %></p>
                    <p>Rating: <%= item.rating %>/5</p>
                    <p>$<%= item.price %></p>
                </li>
            <% } %>
        <% }) %>
    </ul>
</body>
</html>